name: Update Pluto version

on:
    workflow_dispatch:
        inputs:
          plutocommitsha:
            description: 'Commit SHA'     
            required: true
            default: '3df8390a'

concurrency:
    group: updatepluto
    cancel-in-progress: false

jobs:
    trigger:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              # We use that PAT token instead of GITHUB_TOKEN because we are triggering another github action on the commit event.
              # Triggering a workflow from a workflow is only allowed if the relaying event is signed with a PAT.
              # See https://docs.github.com/en/actions/reference/events-that-trigger-workflows#triggering-new-workflows-using-a-personal-access-token
              with:
                token: ${{ secrets.PAT_TOKEN }}
            - uses: fregante/setup-git-user@v1
            
            - name: Install Julia
              uses: julia-actions/setup-julia@v1
              with:
                  version: "1.7"

            - name: Update Pkg environment
              run: |
                  julia --project -e '
                  import Pkg
                  Pkg.instantiate()
                  Pkg.resolve()
                  Pkg.rm("Pluto")
                  Pkg.add([Pkg.PackageSpec(name="Pluto", rev="${{ github.event.inputs.plutocommitsha }}")])
                  Pkg.update()
                  '

            - name: Push changes to main
              run: |
                  git add Project.toml Manifest.toml
                  git commit -m "$GITHUB_WORKFLOW" -m "Pluto version set to ${{ github.event.inputs.plutocommitsha }}"
                  git push origin main
